#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Table_1 {
  border-collapse: separate;
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Table_2 {
  border-collapse: separate;
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 158px;
  height: 28px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 158px;
  height: 28px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3ce31cac-fc1e-4777-be34-44abfc5a1788 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}