#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}