							<div id="comments"><!-- write commentaarium code here -->
								<div id="all-comments" class="block no-back">
									<ol class="commentlist">
										<li id="1" class ="comment">
											<div class="comment-content">
												<p>Author here</p><!-- author info and post time, whatnot -->
												<p>Bla bla</p><!-- comment content -->
											</div>
										</li>
										<li id="2" class ="comment">
											<div class="comment-content">
												<p>Author here</p><!-- author info and post time, whatnot -->
												<p>Bla bla</p><!-- comment content -->
											</div>
										</li>
									</ol>
								</div>
							</div>