 <div id="header-content">
	<div class="logo">
		<a href="/">Generic news</a>
	</div>
 	
	<div id="menu-utility-container">
		<ul id="menu-utility" class="menu">
			<li id="menu-item-001" class="menu-item"><a href="/login">Login</a></li>
			<li id="menu-item-002" class="menu-item"><a href="">About us</a></li>
			<li id="menu-item-003" class="menu-item"><a href="">Write for us</a></li>
			<li id="menu-item-004" class="menu-item"><a href="">User settings</a></li>
		</ul>
 	</div>
 	
	<div id="menu-main-container">
		<div class="menumainnav">
			<button id="menu-button" class="menu-button" value="Open menu"></button>
			<ul id="menumainnav" class="menu">
			   <li id="menu-item-005" class="menu-item menumainnav"><a href="">R 1</a></li>
			   <li id="menu-item-006" class="menu-item menumainnav"><a href="">R 2</a></li>
			   <li id="menu-item-007" class="menu-item menumainnav"><a href="">R 3</a></li>
			   <li id="menu-item-008" class="menu-item menumainnav"><a href="">R 4</a></li>
			   <li id="menu-item-009" class="menu-item menumainnav"><a href="">R 5</a></li>
			   <li id="menu-item-010" class="menu-item menumainnav"><a href="">R 6</a></li>
			</ul>
		</div>
 	</div>
 </div>