<!DOCTYPE html>

<head>
	#include("./src/main/webapp/templates/template-head.html")
</head>

<body class="home blog">

	<div id="header"> <!-- Header start -->
		#include("./src/main/webapp/templates/template-header.html")
	</div> <!-- header end -->

	<div id="page-wrapper"> <!-- News start here -->
		<div id="page">
			<div id="content">
				<div class="content">
					<div id="submit text" class="block"> <!-- article example -->
						<div class="post-inner">
							<h1>Submit article...</h1>
							<div class="hr"></div>
							<div class="entry">
							
								<form name="input" method="post" action="/editarticle/$article.id" enctype="multipart/form-data">
								
												<h2>Header: </h2> <textarea name="header" id="header-input" onblur="setbg('white')">$article.header</textarea>
												<div class="hr"></div>
												<h2>Article text: </h2>
												<textarea name="text-input" id="text-input" onblur="setbg('white')">$article.text</textarea>
												<div class="hr"></div>
												<h2>Enter tags (each separated by a coma): </h2>
												<textarea name="tags-input" id="tags-input" onblur="setbg('white')">#foreach($product2 in $article.tags) $product2, #end</textarea>
												<div class="hr"></div>
												<input type="file" name="userfile1" />
												<div class="hr"></div>
												<input type="checkbox" name="delete" value="delete">	Do I delete this thing?<br>
												<input type="submit" value="Submit" />
											</tr>
										</tbody>
									</table>
								</form>
								
							</div>
						</div>
					</div>
					
					<div class="navigations">
							<div class="alignleft">
							</div>
							<div class="alignright">
							</div>
							<div class="clear"></div>
					</div>
					
				</div>
				<div id="sidebar">
					#include("./src/main/webapp/templates/template-sidebar.html")
				</div>
			</div>
		</div>
	</div>
	
	<div id="footer">
		#include("./src/main/webapp/templates/template-footer.html")
	</div>
</body>