		<div class="container">
			<div id="footer-content">
				<div class="footer-col">
					<h4>Stuff from top</h4>
					
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/">About us</a>
						</li>
						<li>
							<a href="/">3rd thing</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="/">Write for us</a>
						</li>
						<li>
							<a href="/">User settings</a>
						</li>
						<li>
							<a href="/">One more...</a>
						</li>
					</ul>
					
				</div>
			
				<div class="footer-col">
					<h4>Contacts</h4>
					<ul>
						<li>
							<a href="/">Contact one</a>
						</li>
						<li>
							<a href="/">Contact 2</a>
						</li>
						<li>
							<a href="/">Contact 3</a>
						</li>
					</ul>
					
				</div>
			
				<div class="footer-col">
					<h4>Info and thanks and such</h4>
					<ul>
						<li>
							<a href="http://www.jonathansutcliffe.com/">Alot of Jonathan Sutcliffe work was used.</a>
						</li>
						<li>
							<a href="/">info 2</a>
						</li>
						<li>
							<a href="/">info 3</a>
						</li>
					</ul>
					
				</div>
				<div class="clear"></div>
			</div>
		</div>