<!DOCTYPE html>

<head>
	#include("./src/main/webapp/templates/template-head.html")
</head>

<body class="home blog">

	<div id="header"> <!-- Header start -->
		#include("./src/main/webapp/templates/template-header.html")
	</div> <!-- header end -->

	<div id="page-wrapper"> <!-- News start here -->
		<div id="page">
			<div id="content">
				<div class="content">
					<div id="submit text" class="block"> <!-- article example -->
						<div class="post-inner">
							<h1>Submit article...</h1>
							<div class="hr"></div>
							<div class="entry">
							
								<form name="input" method="post" action="/postarticle" enctype="multipart/form-data">
									<table>
										<tbody>
											<tr>
												<td><textarea name="image_name" id="image_name"  onblur="setbg('white')"></textarea></td>
												<td><input type="file" name="userfile1" /></td>
											</tr>
											<tr>
												<td>
													 <input type="submit" value="Submit" /><input type="reset" value="Reset" />
												</td>
											</tr>
										</tbody>
									</table>
								</form>
								
							</div>
						</div>
					</div>
					
					<div class="navigations">
							<div class="alignleft">
							</div>
							<div class="alignright">
							</div>
							<div class="clear"></div>
					</div>
					
				</div>
				<div id="sidebar">
					#include("./src/main/webapp/templates/template-sidebar.html")
				</div>
			</div>
		</div>
	</div>
	
	<div id="footer">
		#include("./src/main/webapp/templates/template-footer.html")
	</div>
</body>