<div class="block"> <!-- search block -->
	<h3>Search</h3>
	<form id="tfnewsearch" method="get" action="http://www.google.com">
		<input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
	</form>
	<div class="clear"></div>
</div>

<div class="block"> <!-- main block constuctioon way on sidebar-->
	<h3>Hot topics</h3>
	<p><img class = "resize-sidebar" title="placeholder" src="/images/placeholder2.png" alt=""></p>
	<ul class="">
		<li><h4><a title="Hot topic 1" rel="bookmark" href="">Hot topic 1</a></h4></li>
		<li><h4><a title="Hot topic 2" rel="bookmark" href="">Hot topic 2</a></h4></li>
		<li><h4><a title="Hot topic 3" rel="bookmark" href="">Hot topic 3</a></h4></li>
		<li><h4><a title="Hot topic 4" rel="bookmark" href="">Hot topic 4</a></h4></li>
		<li><h4><a title="More here" rel="bookmark" href="">More...</a></h4></li>
	</ul>
	<div class="clear"></div>
</div>
				
<div class="block"> <!-- main block constuctioon way on sidebar-->
	<h3>Pool</h3>
		<p class="pool-text">Here goes explenatori text or a question. Bla bla Bla bla Bla bla Bla bla Bla bla Bla bla.</p>
		<h5> We may use some premade solution, will see...</h5>
		<div class="clear"></div>
</div>