<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<head>
	#include("./src/main/webapp/templates/template-head.html")
</head>

<body class="home blog">

	<div id="header"> <!-- Header start -->
		#include("./src/main/webapp/templates/template-header.html")
	</div> <!-- header end -->

	<div id="page-wrapper"> <!-- News start here -->
		<div id="page">
			<div id="content">
				<div class="content">
					#foreach($product in $artList)
					
					$cookie1
					$cookie2

					
					<div id="$product.header.replace(" ", "_")" class="block"> <!-- article example -->
						<div class="post-inner">
							<h2>$product.header</h2>
							<div class="entry">
								<p class="info">By $product.username on $product.date</p> <!-- here is submition info-->
								<p><img alt="" src="$product.image" title="placeholder"></p><!-- illustrative image -->
								<p><!-- article text -->
									$product.text
								</p>
								<p><a class="more-link" href="/article/$product.id/$product.header.replace(" ", "_")">>> Read more...</a></p><!-- link to the full article -->
							</div>
							<div class="hr"></div> <!-- seperator -->
							<p class="tags"><!-- tags column -->
								
								#foreach($product2 in $product.tags)
								<a rel="" href="">$product2</a>, 
								#end
							</p>
							<p class="comments">
								<a title=">> Comment on this" href="">>> Comment on this...</a>
							</p>
						</div>
					</div>
					
					#end
					<div class="navigations">
							#if( $uri == "" || $uri == "/page/1" || $pagein == 1)
							<div class="alignright">
								<a href="$next">Next page &#62; &#62;</a>
							</div>
							
							#elseif ($nextPagecheck)
							<div class="alignleft">
								<a href="$previous">&#60; &#60; Previous page </a>
							</div>
							
							#else
							
							<div class="alignleft">
								<a href=" #if($uri == "/page/2") / #{else} $previous #end ">&#60; &#60; Previous page </a>
							</div>
								
							<div class="alignright">
								<a href="$next">Next page &#62; &#62;</a>
							</div>
							
							#end
							
							
							<div class="clear"></div>
					</div>
				</div>
				<div id="sidebar">
					#include("./src/main/webapp/templates/template-sidebar.html")
				</div>
			</div>
		</div>
	</div>
	
	<div id="footer">
		#include("./src/main/webapp/templates/template-footer.html")
	</div>
</body>