#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44ef446f-2c56-4e98-9899-0bca1f34d10d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}