#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Table_1 {
  border-collapse: separate;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Table_2 {
  border-collapse: separate;
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 116px;
  height: 41px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 116px;
  height: 41px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 106px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e1d2282d-d3d2-42c7-9f5e-0d7350c6274c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}